ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    display: block;
    font-weight: bold;
    color: #333;
  }
  
  div {
    margin-top: 5px;
  }
  